extend ../layout
block content 
  h1 #{title}
  p  #{err}
  form(method="post",action="/articles/create")
    .form-group 
      lable Title: 
      input.form-control(name="title", type="text")
    .form-group 
      lable Body: 
      textarea.form-control(name="body")
    br 
    input.btn.btn-primary(type="submit", value="submit")

  